version: "3.3"
services:
    db:
        image: postgres
        container_name: db
        ports:
        - "5432:5432"
        environment:
          - POSTGRES_PASSWORD=${DB_PASSWORD}
          - POSTGRES_USER=${DB_USERNAME}
          - POSTGRES_DB=${DB_USERNAME}
        volumes:
          - ./backend/docker/sql:/docker-entrypoint-initdb.d
    wildfly:
        build: ./backend/docker
        container_name: wildfly
        depends_on:
            - db
        ports:
            - "8080:8080"
            - "9990:9990"
            - "8787:8787"
        environment:
            JAVA_OPTS: -server -Xms512m -Xmx2048m -XX:MetaspaceSize=96M -XX:MaxMetaspaceSize=256m -XX:+UseAdaptiveSizePolicy -XX:MaxMetaspaceSize=1024m -Djava.net.preferIPv4Stack=true -Djboss.modules.system.pkgs=org.jboss.byteman -Djava.awt.headless=true-Djava.net.preferIPv4Stack=true
            JBOSS_HOME: /opt/jboss/wildfly
            JDBC_CONNECTION_URL: ${JDBC_CONNECTION_URL}
            DB_USERNAME: ${DB_USERNAME}
            DB_PASSWORD: ${DB_PASSWORD}
    frontend:
        build: ./frontend
        container_name: frontend
        depends_on:
            - wildfly  
        ports:
          - "80:8080"
        volumes:
          - ./frontend:/app
          - /app/node_modules/
        environment:
          - CHOKIDAR_USEPOLLING=true npm start
          - NODE_ENV=development
